<footer id="footer" class="footer">
  <div class="container text-center">

<!--   <ul class="social-links">
    <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
    <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
    <li><a href="#link"><i class="fa fa-instagram fa-fw"></i></a></li>
    <li><a href="#link"><i class="fa fa-youtube fa-fw"></i></a></li>
  </ul> -->
    <p>Copyleft 2019 Alternative Education.</a><br> contact@alternativeeducation.in</p>

  </div>
</footer>
