<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://www.alternativeeducation.in/">ALT<span>Education</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}/get-involved.html">Get Involved</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="{{site.baseurl}}/homeschooling">Home Education</a></li>
        <li><a href="{{site.baseurl}}/books">Books</a></li>

        <li><a href="{{site.baseurl}}/webresources">Online Resources</a></li>

       </ul>
      </li>
      <li><a href="{{site.baseurl}}/schools">Find Learning Spaces</a></li>
      </li>
      <li><a href="{{site.baseurl}}/blog">Blog</a></li>
      <li class="btn-trial"><a href="https://forum.alternativeeducation.in/">Forum Discussion</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--/ Navigation bar-->
