<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://www.alternativeeducationindia.net">ALT<span>Education</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.alternativeeducationindia.net/get-involved.html">Get Involved</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a href="https://www.alternativeeducationindia.net/homeschooling">Home Education</a></li>
        <li><a href="https://www.alternativeeducationindia.net/books">Books</a></li>

        <li><a href="https://www.alternativeeducationindia.net/webresources">Online Resources</a></li>

       </ul>
      </li>
      <li><a href="https://www.alternativeeducationindia.net/schools">Find Learning Spaces</a></li>
      </li>
      <li><a href="https://www.alternativeeducationindia.net/blog">Blog</a></li>
      <li class="btn-trial"><a href="https://forum.alternativeeducationindia.net/">Forum Discussion</a></li>
    </ul>
    </div>
  </div>
</nav>
<!--/ Navigation bar-->
