

<script src="https://www.alternativeeducationindia.net/js/jquery.min.js"></script>
<script src="https://www.alternativeeducationindia.net/js/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.alternativeeducationindia.net/js/scroll.js"></script>
<script src="https://www.alternativeeducationindia.net/js/homeschooling.js"></script>
<script src="https://www.alternativeeducationindia.net/js/unveil.js"></script>
<script src="https://www.alternativeeducationindia.net/js/isotope.min.js"></script>
<script src="https://www.alternativeeducationindia.net/js/isotope-main.js"></script>
<script src="https://www.alternativeeducationindia.net/js/blog.js"></script>
<script src="https://www.alternativeeducationindia.net/js/skel.min.js"></script>
<script src="https://www.alternativeeducationindia.net/js/util.js"></script>
