

<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/scroll.js"></script>
<script src="{{site.baseurl}}/js/homeschooling.js"></script>
<script src="{{site.baseurl}}/js/unveil.js"></script>
<script src="{{site.baseurl}}/js/isotope.min.js"></script>
<script src="{{site.baseurl}}/js/isotope-main.js"></script>
<script src="{{site.baseurl}}/js/blog.js"></script>
<script src="{{site.baseurl}}/js/skel.min.js"></script>
<script src="{{site.baseurl}}/js/util.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script id="dsq-count-scr" src="//alternative-education.disqus.com/count.js" async></script>
