<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/materialize.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/imagehover.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/homeschooling.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/list-of-schools.css">

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
