<link rel="stylesheet" type="text/css" <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Candal|Open+Sans|Raleway|Proza+Libre" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/materialize.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/imagehover.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/homeschooling.css">


<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
