---
layout: blog
---
<!-- Wrapper -->
	<div id="wrapper">





		<!-- Main -->
			<div id="main">
      {% for blog in paginator.posts %}
				<!-- Post -->
					<article  class="post">
						<header>
							<div class="title">
								<h2><a href="{{site.baseurl}}{{blog.url}}">{{blog.title}}</a></h2>
								<p class="post-excerpt">"{{blog.excerpt}}</p>
							</div>
							<div class="meta">
								<time class="published">{{blog.date | date_to_long_string }}</time>
								<a href="" class="author"><span class="">{{blog.author}}</span><img src="{{site.baseurl}}/img/avatar.png" alt="" /></a>
							</div>
						</header>
						<a href="{{site.baseurl}}{{blog.url}}" class="image featured"><img src="{{site.baseurl}}{{blog.image}}" alt="" /></a>
						<p>
              {{ blog.content | strip_html | truncatewords:75 }}
							</p>
							<footer>
								<ul class="actions">
									<li><a href="{{site.baseurl}}{{blog.url}}" class="button big">Continue Reading</a></li>
								</ul>
								<ul class="stats">
									<li><a href="#">General</a></li>
									<li><a href="#" class="icon fa-heart">28</a></li>
									<li><a href="{{site.baseurl}}{{blog.url}}#disqus_thread" class="icon fa-comment">Comments</a></li>
								</ul>
							</footer>
					</article>

        {% endfor %}




				<!-- Pagination -->
				<ul class="actions pagination">
					{% if paginator.previous_page %}
						<li><a href="{{ paginator.previous_page_path }}" class="button big previous">Previous Post</a></li>
					{% else %}
						<li><a href="#" class="disabled button big previous">Previous Page</a></li>
					{% endif %}
					{% if paginator.next_page %}
						<li><a href="{{ paginator.next_page_path }}" class="button big next">Next Page</a></li>
					{% else %}
						<li><a href="#" class="disabled button big next">Next Post</a></li>
					{% endif %}
				</ul>

			</div>

		<!-- Sidebar -->
			<section id="sidebar">

				<!-- Intro -->
					<section id="intro">
						<a href="#" class="logo"><img src="{{site.baseurl}}/img/blog-logo.png" alt="" /></a>
						<header>
							<h2 id="blog-label"><a href="{{site.baseurl}}/blog">Blog</a></h2>
							<p></a></p>
						</header>
					</section>

					<!-- About -->
						<section class="blurb about-blog">
							<h2>About</h2>
							<p>

							 Feel free to blog your hearts out about the Learning Journeys, Experieces	&amp; the Reflections You have. We will Feature it Here</p>
							<ul class="actions">
								<li><a href="{{site.baseurl}}/blog/submit" class="button">Send Form</a></li>
							</ul>
						</section>


				<!-- Mini Posts -->
					<section>
						<div class="mini-posts">

							<!-- Mini Post -->
							{% assign pageoffset = 6 | times:paginator.page %}
							{% for blog in site.posts offset:pageoffset limit:8 %}﻿
								<article class="mini-post">
									<header>
										<h3><a href="{{site.baseurl}}{{blog.url}}">{{blog.title}}</a></h3>
										<time class="published" datetime="{{blog.date | date_to_long_string }}">{{blog.date | date_to_long_string }}</time>
										<a href="{{site.baseurl}}{{blog.url}}" class="author"><img src="{{site.baseurl}}/img/avatar.png" alt="" /></a>
									</header>
									<a href="{{site.baseurl}}{{blog.url}}" class="image"><img src="{{site.baseurl}}{{blog.image}}" alt="" /></a>
								</article>
								{% endfor %}

						</div>
					</section>
					<!-- Posts List -->
							<section>
								<ul class="posts">
									{% assign minipageoffset = 12 | times:paginator.page %}
									{% for blog in site.posts offset:minipageoffset limit:3 %}﻿
									<li>
										<article>
											<header>
												<h3><a href="{{site.baseurl}}{{blog.url}}">{{blog.title}}</a></h3>
												<time class="published" datetime="{{blog.date | date_to_long_string }}">{{blog.date | date_to_long_string }}</time>
											</header>
											<a href="{{site.baseurl}}{{blog.url}}" class="image"><img src="{{site.baseurl}}{{blog.image}}" alt="" /></a>
										</article>
									</li>
									{% endfor %}
							</ul>
							</section>
