<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alternative Education India</title>
    <meta name="description" content="Alternative Education Resource For Parents, Students & Teachers, Includes A Comphrehensive List Of Alternative Schools in India">
    <meta name="keywords" content="Alternative Education, Home Schooling, How to Home School, Alternative Learning, Homeschooling Parents, Alternative Schools, Indian Education System, Unschooling, Problems with education,Factory Schooling, education in india, education portal">

    <link rel="icon" type="image/png" href="https://www.alternativeeducationindia.net/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.alternativeeducationindia.net/img/favicon/favicon-16x16.png" sizes="16x16" />

  <!--CSS Stylesheets and Fonts  -->
   {% include stylesheets.html %}

	<!-- Google Analytics Script -->
	  {% include analytics.html %}

  </head>
  <body>

  <!-- Navbar-->
  <header>
     {% include nav.html %}
  </header>
  <!--  Navbar -->

   <!--  Main Content -->
    {{content}}
   <!--  Main Content -->

    <!--Footer-->
    {% include footer.html%}
    <!--/ Footer-->

  <!-- Scripts -->
  {% include scripts.html%}
  <!-- Scripts -->
  </body>
</html>
