<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.metadesc }}">
    <meta name="keywords" content="{{ page.keywords }}">


    <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-16x16.png" sizes="16x16" />

  <!--CSS Stylesheets and Fonts  -->
   {% include stylesheets.html %}

	<!-- Google Analytics Script -->
	  {% include analytics.html %}

  </head>
  <body>



  <!-- Navbar-->
  <div class="layout-container">
  <header>
     {% include nav.html %}
  </header>
  <!--  Navbar -->

  <div class="layout-content">
   <!--  Main Content -->
    {{content}}
   <!--  Main Content -->
  </div>

    <!--Footer-->
    {% include footer.html%}
    <!--/ Footer-->

  </div>

  <!-- Scripts -->
  {% include scripts.html%}
  <!-- Scripts -->

  </body>
</html>
